.grid {
	flex: 1;
	overflow-y: auto;
	position: relative;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 1rem;

	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-track {
		background-color: rgba($color: #E8E8E8, $alpha: 0.1);
		border-radius: 2px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #7A7A7A;
		border-radius: 2px;
	}
}

.topShadow {
	box-shadow: 0 5px 15px 15px black;
}