.btn {
  padding: 1px;
  color: #cf7b5a;
  font: 600 0.875rem / 1.43 var(--main-font-family);
  border-radius: 12px;

  > div {
    border-radius: 12px;
    padding: 10px 16px;
    background-color: var(--main-bg-color);
  }

  &:disabled {
    color: gray;
  }

  &:hover {
    background: linear-gradient(
      to right,
      rgba($color: #cf7b5a, $alpha: 0.4),
      black,
      rgba($color: #cf7b5a, $alpha: 0.4)
    );
    color: rgba($color: #cf7b5a, $alpha: 0.5);
  }
}
